.form-wrapper{
    border-radius: 8px;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    background: #323232;
    display: flex;
    justify-content: space-around;
}

select{
    font-size: 1rem;
    padding: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0 , 0.2);
}

input{
    padding: 0.2rem;
    font-size: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0 , 0.2);
    border-radius: 10px;
}

input:hover{
    background-color: aliceblue;
}

button:hover{
    color: white;
    background-color: gray;
}