#main-section{
    height: 75vh;
}

.table-wrapper{
    height: 100%;
    overflow: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tbody{
    overflow: hidden;
}

th{
    position: sticky;
    top: 0;
    background-color: #FF1E56;
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(151, 151, 151);
}

td{
    border: 1px solid rgb(151, 151, 151);
    font-size: 1.1rem;
}

tr{
    background-color: white;
}

tr:nth-child(even){
    background-color: rgb(228, 228, 228);
}

tr:hover{
    color: white;
    background-color: rgb(155, 155, 155);
}