<header>
  <a href="/page/main">
    <img class="left-top-logo" src="/images/LOGO_BG_WH.png" alt="logo">
  </a>
  <nav>
    <ul id="nav-ul">
      <li class="main-menu"><a>구매관리</a>
        <ul class="additional-list">
          <li><a href="/page/purchase-show">구매조회</a></li>
          <li><a href="/page/purchase-manage">구매관리</a></li>
          <li><a href="/page-purchase-chart">구매통계</a></li>
        </ul>
      </li>
      <li class="main-menu"><a>입고관리</a>
        <ul class="additional-list">
          <li><a href="/page/inbound-show">입고조회</a></li>
          <li><a href="/page/inbound-manage">입고관리</a></li>
        </ul>
      </li>
      <li class="main-menu"><a>출고관리</a>
        <ul class="additional-list">
          <li><a href="/page/outbound-show">출고조회</a></li>
          <li><a href="/page/outbound-manage">출고관리</a></li>
          <li><a href="/page/outbound-chart">출고통계</a></li>
        </ul>
      </li>
      <li class="main-menu"><a>출고계획</a>
        <ul class="additional-list">
          <li><a href="/page/plan-show">계획조회</a></li>
          <li><a href="/page/plan-manage">계획관리</a></li>
        </ul>
      </li>
      <li class="main-menu"><a>재고관리</a>
        <ul class="additional-list">
          <li><a href="/page/stocks-show">재고조회</a></li>
        </ul>
      </li>
      <li class="main-menu"><a>품목관리</a>
        <ul class="additional-list">
          <li><a href="/page/product-show">품목조회</a></li>
          <li><a href="/page/product-manage">품목수정</a></li>
        </ul>
      </li>
      <li class="main-menu"><a>BOM</a>
        <ul class="additional-list">
          <li><a href="/page/bom-show">BOM조회</a></li>
          <li><a href="/page/bom-manage">BOM관리</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>