<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/maintable.css">
    <link rel="stylesheet" href="css/form.css">
    <script type="module" src="js/viewer/log-viewer.js" defer></script>
    <title>로그 조회</title>
</head>
<body>
    <input id="page-type" type="hidden" value="show">

    <br>
    <br>

    <header th:replace="/fragments/layout.html :: fragment-admin-header"></header>

    <br>
    <br>

    <section class="form-wrapper-calendar">
        <select id="filter">
            <option value="username">아이디</option>
            <option value="method">요청방식</option>
            <option value="signature">실행된메소드</option>
            <option value="requestUrl">요청URL</option>
        </select>
        <input type="text" id="search">
        <button type="button" id="reset-sort-btn">정렬 초기화</button>
          <label>
            시작일자
            <input type="date" id="startDate">
          </label>
          <label>
            종료일자
            <input type="date" id="endDate">
          </label>
          <button type="button" id="log-load-btn">조회</button>
    </section>

    <br>

    <main>
        <section id="main-section">
            <div class="table-wrapper">
            <table id="log-table">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
        </section>
    </main>
    <br>
    <br>
    <footer th:replace="/fragments/layout.html :: fragment-footer"></footer>
</body>
</html>