<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/maintable.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/bom.css">

    <script src="js/manager/modal-manager.js" defer></script>
    <script type="module" src="js/viewer/bom-viewer.js" defer></script>
    <title>BOM 관리</title>
</head>
<body>
    <input id="page-type" type="hidden" value="manage">

    <!-- BOM 모달 폼 -->
    <aside id="bom-modal" class="modal-container">
        <div class="modal-content">
            <div class="bom-container">
            </div>
        </div>
    </aside>

    <!-- PRODUCT 모달 폼 -->
    <div id="product-modal" class="modal-container">
        <div class="modal-content">
            <div style="margin: 10px 0;">
                <select id="product-filter">
                    <option value="productName">품목명</option>
                    <option value="companyName">거래처명</option>
                </select>
                <input type="text" id="product-search">
            </div>
            <div class="table-wrapper">
                <table id="product-table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>

    <header th:replace="/fragments/layout.html :: fragment-header"></header>

    <br>
    <br>

    <section class="form-wrapper" style="width: 550px;">
        <select id="filter">
            <option value="productName">품목명</option>
        </select>
        <input type="text" id="search">
        <button type="button" id="reset-sort-btn">정렬 초기화</button>
        <button type="button" id="add-bom-btn">+ 새 BOM</button>
    </section>

    <br>

    <main>
        <section id="main-section">
            <div class="table-wrapper">
            <table id="bomTable">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
        </section>
    </main>
    <br>
    <br>
    <footer th:replace="/fragments/layout.html :: fragment-footer"></footer>
</body>
</html>