<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/form.css">
    <script type="module" src="js/authenticate/login.js" defer></script>
    <title>로그인</title>
</head>
<body>

    <h1>재고관리 프로그램 로그인</h1>
    <main>

        <form class="form-style" id="login-form" action="">
            <p>
                <label for="username">아이디</label>
                <br>
                <input type="text" id="username" name="username">
            </p>
            <br>
            <p>
                <label for="password">비밀번호</label>
                <br>
                <input type="password" id="password" name="password">
            </p>
            <br>
            <div id="buttons">
                <button type="button" id="login">로그인</button>
                <button type="button" id="change-password" onclick="window.location.href = '/edit-password'">비밀번호 변경</button>
            </div>
        </form>

    </main>
</body>
</html>