<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/chart.css">
    <script type="module" src="js/chart/outbound-chart.js" defer></script>
    <title>출고 통계</title>
</head>
<body>
    <input id="page-type" type="hidden" value="show">

    <!-- 차트 추가 정보 -->
    <aside>
        <div id="chart-detail">
            <h3>금액</h3>
            <h4>250,000,000</h4>
            <br>
            <h3>시기</h3>
            <h4>2023년 5월</h4>
        </div>
    </aside>

    <br>
    <br>

    <header th:replace="/fragments/layout.html :: fragment-header"></header>

    <br>
    <br>

    <section class="form-wrapper" style="width: 500px;">
        <form>
            <label>
            시작일자
            <input type="date" id="startDate">
            </label>
            <label>
            종료일자
            <input type="date" id="endDate">
            </label>
            <div style="margin-top: 1rem;">
                <button type="button" id="daily-chart">일별 차트 조회</button>
                <button type="button" id="monthly-chart">월별 차트 조회</button>
                <button type="button" id="yearly-chart">연별 차트 조회</button>
                <select name="" id="option-price">
                    <option value="normal">기본</option>
                    <option value="sum">누적</option>
                </select>
            </div>
        </form>
    </section>

    <br>

    <main>
        <section id="main-section">
            <canvas id="outbound-chart" class="chart">
            </canvas>
        </section>
    </main>
    <br>
    <br>
    <footer th:replace="/fragments/layout.html :: fragment-footer"></footer>
</body>
</html>